.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-flex; /* Changed to flexbox for consistent layout */
  align-items: center;  /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  line-height: 1;
}

.storybook-button--primary {
  color: #FFFFFF; /* White text */
  background-color: #003300; /* Dark green background */
  max-width: fit-content;
}

.storybook-button--primary:hover {
  background-color: #004A00; /* Lighter green on hover */
  max-width: fit-content;
}

.storybook-button--secondary {
  color: #FFFFFF; /* White text */
  background-color: #353535; /* Dark grey background */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  max-width: fit-content;
}

.storybook-button--third {
  color: #FFFFFF; /* White text */
  background-color: #00c000; /* Bright green background */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  max-width: fit-content;
}

.storybook-button--secondary:hover {
  background-color: #004A00; /* Lighter green on hover */
  max-width: fit-content;
}

.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}

.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}

.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}

.storybook-button--selected:hover {
  background-color: #004A00; /* Lighter green on hover */
}

.loading-spinner {
  width: 8px; /* Set a fixed size for the spinner */
  height: 8px; /* Set a fixed size for the spinner */
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top: 3px solid #ffffff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; /* Add spacing if needed between spinner and label */
}

/* Add styles for disabled state */
.storybook-button:disabled {
  cursor: default; /* Ensure the cursor does not change to pointer */
  opacity: 0.6; /* Reduce opacity to indicate a disabled state */
  pointer-events: none; /* Prevent hover or click events */
}

.storybook-button:disabled:hover {
  background-color: inherit; /* Prevent hover effect */
  opacity: 0.6; /* Keep the opacity the same as the disabled state */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}