/* Simplified CSS for RCCustomize component */

/* Overall container */
.container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

/* Grid layout for each .report-section, items stack vertically */
.report-section {
    display: grid;
    grid-template-rows: auto;
    gap: 10px; /* Adjust spacing between rows within each section */
}

/* Grid layout for the entire container, .report-sections align left to right */
.graph-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust min width as needed */
    gap: 20px; /* Adjust spacing between sections */
}

/* Section header style */
.section-header {
    font-size: 20px;
    font-weight: bold;
    text-align: center; /* Center the section header */
}

.report-container {
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: auto;
}

.section-body {
    width: 100%; /* Updated from 20% to 100% */
    padding: 20px;
}

.section-title {
    font-size: 20px;
    align-content: center;
    font-weight: bold;
}

/* Slider containers and labels */
.slider-container {
    width: 100%;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
}

.form-label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.slider-value {
    font-weight: bold;
    color: #FFFFFF; /* Text color */
}

/* Custom styles for the slider */
.custom-slider {
    width: 100%;
    height: 10px; /* Increased slider height */
    padding: 0; /* Remove padding around the slider */
}

.custom-slider .MuiSlider-track,
.custom-slider .MuiSlider-rail {
    height: 10px; /* Match the slider height */
    border-radius: 7.5px; /* Round the track */
}

.custom-slider .MuiSlider-thumb {
    height: 20px; /* Larger thumb size */
    width: 20px;  /* Larger thumb size */
    background-color: #004A00; /* Primary dark green */
    border: 2px solid white; /* Outer border for thumb */
    box-shadow: 0 0 0 4px #004A00; /* Optional: shadow around thumb */

    /* Create the smaller white circle inside the thumb */
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.custom-slider .MuiSlider-thumb::before {
    content: "";
    width: 60%;
    height: 60%;
    background-color: white;
    border-radius: 50%;
}*/

.custom-slider .MuiSlider-valueLabel {
    color: #004A00; /* Primary dark green */
    background-color: #FFFFFF; /* White background */
}

/* Hide slider marks */
.custom-slider .MuiSlider-mark {
    display: none;
}
