/*@tailwind base;
@tailwind components;
@tailwind utilities;*/

.rc-graph {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.graph-container {
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px;
}

.analysis-report-container {
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: auto;
}

.analysis-report-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.analysis-report-section-header {
    margin-bottom: 10px;
}

.analysis-report-section-title {
    font-size: 20px;
    font-weight: bold;
}

.analysis-report-section-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.analysis-report-slider-container {
    width: 15%;
    padding: 10px;
    margin-top: 10px;
}

.analysis-form-label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.analysis-report-slider-value {
    font-weight: bold;
}

.rc-slider {
    width: 100%;
}