@tailwind base;
@tailwind components;
@tailwind utilities;

.rc-graph {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.graph-container {
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px;
  }