.sensitivity-table-container {
  padding: 10px;
  margin: 20px;
  background-color: #004A00;
  color: white;
  border-radius: 8px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 8px;
}

.bold-label {
  font-weight: bold;
}

.selectable-button {
  margin: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto 1fr; /* Side header and table */
  grid-template-rows: auto 1fr; /* Top header and table */
  gap: 0; /* No gaps between headers and table */
}

.top-header,
.side-header {
  background-color: #676867;
  color: white;
  text-align: center;
  padding: 8px;
  font-weight: bold;
}

.side-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sensitivity-table {
  width: 100%;
  border-collapse: collapse;
}

.sensitivity-table td {
  border: 1px solid white;
  padding: 8px;
  text-align: center;
  background-color: #676867;
  color: white;
}

.sensitivity-table .bold-cell {
  font-weight: bold;
  background-color: #004A00;
}