.header-box {
    padding: 5px;
    width: 50%;
}

.header-address {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically centers content */
    height: 100%;
}

.header-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    margin-left: auto; /* Pushes the buttons to the right */
}
