/* Overall container */
.calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.total-cash-header,
.total-cash-value {
    text-align: center;
    margin-bottom: 10px; /* Adds spacing between the new header and the section below */
    font-size: 1.2em; /* Adjust this to make the header smaller */
    font-weight: bold;
}

.total-cash-header h3 {
    font-size: 1.2em; /* Adjust this to make the header smaller */
    font-weight: bold;
}

/* Grid layout for each .report-section, items stack vertically */
.report-section {
    display: grid;
    grid-template-rows: auto;
    max-width: 100%; /* Ensure full width */
}

/* Adjusted layout for report sections to align items horizontally */
.graph-box {
    display: grid; /* Changed from grid to flex */
    width: 90%;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);

    gap: 30px;
    padding: 10px;
}

/* Section header style */
.section-header {
    font-size: 18px; /* Reduced font size for mobile */
    font-weight: bold;
    text-align: center;
}

.rc-header {
    text-align: center;
    width: 100%;
}

.report-container {
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: auto;
}

.section-body {
    width: 100%;
    padding-right: 20px; /* Reduced padding for mobile */
}

.section-title {
    font-size: 20px; /* Reduced font size for mobile */
    align-content: center;
    text-align: center;
    width: 100%;
}

/* Slider containers and labels */
.slider-container {
    width: 100%; /* Adjusted for proper width */
    align-items: center;
    padding: 10px;
    margin-top: 10px;
}

.form-label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.slider-value {
    font-weight: bold;
}

/* Custom styles for the slider */
.custom-slider {
    max-width: 100%; /* Ensure it doesn’t exceed the container width */
    height: 10px;
    padding: 0;
}

.custom-slider .MuiSlider-track {
    height: 10px;
    background-color: #00c000;
    border-radius: 7.5px;
}

.custom-slider .MuiSlider-rail {
    height: 10px;
    background-color: #353535;
    border-radius: 7.5px;
}

.custom-slider .MuiSlider-thumb {
    height: 20px;
    width: 20px;
    background-color: #004A00;
    box-shadow: 0 0 8px 4px rgba(0, 74, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: none;
}

.custom-slider .MuiSlider-thumb:hover,
.custom-slider .MuiSlider-thumb.Mui-focusVisible,
.custom-slider .MuiSlider-thumb.Mui-active {
    height: 25px;
    width: 25px;
    box-shadow: 0 0 8px 4px rgba(195, 255, 195, 0.8);
}

.custom-slider .MuiSlider-valueLabel {
    display: none;
}

.custom-slider .MuiSlider-mark {
    display: none;
}

@media (max-width: 768px) {
    .section-header {
        font-size: 16px;
    }

    .graph-box {
        display: grid;
        grid-template-columns: 1fr; /* Stack items vertically */
        align-items: start; /* Align items to the top */
        gap: 10px; /* Adjust the gap between items */
    }

    .slider-value {
        font-size: 14px;
    }

    .custom-slider {
        width: auto; /* Ensure proper width on mobile */
        max-width: 100%; /* Ensure it doesn’t exceed the container width */
    }

    .report-container {
        max-width: 100%;
    }
}