.title-container {
    max-width: 100%; /* Changed from 80% to 100% for mobile */
    text-align: center;
    padding: 20px;
}

.title-container img {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 80%; /* Changed from 60% to 80% for mobile */
}

.title-container h2,
.title-container h3 {
    margin: 0;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .title-container img {
        max-width: 100%; /* Ensure image takes full width on smaller screens */
    }

    .title-container h2,
    .title-container h3 {
        font-size: 18px; /* Reduce font size for mobile */
    }
}
