.header-box {
    padding: 5px;
    width: 50%;
}

.header-address {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically centers content */
    height: 100%;
}

.header-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically centers content */
    align-items: flex-end;   /* Aligns content to the right */
    height: 100%;
}
