/* CombinedCalculatorComponent.css */
.combined-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.image-container {
    width: 25%; /* Adjusted to 15-20% of the width */
    min-width: 100px; /* Ensures image doesn't get too small */
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.image-property {
    border-radius: 10px;
}

.address-container {
    flex: 1;
    flex-direction: column;
    padding-left: 20px;
    display: flex;
    align-items: start;
    height: 100%;
}

.address-container h2,
.address-container h3 {
    margin: 0;
    text-align: left;
}

.buttons-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 20px;
}

.save-button,
.delete-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.save-button {
    background-color: #004A00; /* GreenHex */
    color: #fff;
}

.save-button:disabled {
    background-color: #808080;
    cursor: not-allowed;
}

.delete-button {
    background-color: #A40000; /* RedHex */
    color: #fff;
}

.delete-image-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.delete-image-button img {
    width: 30px;
    height: 30px;
    display: block;
}
