.title-container {
    max-width: 80%; /* Adjust width as necessary */
    text-align: center;
    padding: 20px; /* Added padding for better spacing */
}

.title-container img {
    display: block;
    margin: 0 auto 20px auto; /* Center the image and add spacing below */
    max-width: 60%; /* Make sure the image fits within its container */
}

.title-container h2,
.title-container h3 {
    margin: 0;
    margin-bottom: 10px; /* Space between title and address */
}
