.expenses-container {
  width: 100%;
}

.expenses-content {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  flex-wrap: wrap; /* Ensure content wraps on smaller screens */
}

.left-column,
.expenses-box {
  flex: 1;
}

.expense-header h3,
.expense-header h4 {
  font-weight: 1000;
  color: #ffffff;
  justify-content: center;
  line-height: 0.6;
}

.expense-header p {
  font-weight: 800;
  font-size: 16px;
  color: #ffffff;
  justify-content: center;
  line-height: 0.6;
}

.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expense-item h3,
.expense-item h4,
.expense-item h5 {
  font-weight: 600;
  color: #ffffff;
  line-height: 0.6;
}

.expense-item p {
  font-weight: 600;
  color: #ffffff;
  line-height: 0.6;
}

.expenses-box {
  background-color: #353535;
  margin: 10px;
  padding: 10px 5px 5px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 100%; /* Ensure full width on mobile */
  width: 100%;
  flex-grow: 1;
}

.sub-utilities h4,
.sub-utilities h5 {
  font-size: 12px;
  color: #ffffff;
  line-height: 0.6;
}

.sub-utilities p {
  font-size: 12px;
  color: #ffffff;
  line-height: 0.6;
}

.label-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.mortgage-color { background-color: #4A7A40; }
.taxes-color { background-color: #C47766; }
.insurance-color { background-color: #D9B98A; }
.variable-color { background-color: #E69F00; }
.fixed-color { background-color: #A4BBA0; }

@media (max-width: 768px) {
  .expenses-box {
      max-width: 100%; /* Ensure full width on mobile */
  }

  .expense-header p {
      font-size: 14px; /* Reduce font size for mobile */
  }
}
