.calculator-rules-of-thumb {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%; /* Changed from 20rem to 100% for mobile */
}

.rules-of-thumb-table {
    margin-top: 20px;
    table-layout: auto;
    border-collapse: collapse;
}

.rules-of-thumb-table td {
    color: #ffffff;
    font-size: 16px; /* Reduced font size for mobile */
    padding: 5px;
    text-align: center;
    width: auto;
    white-space: nowrap;
    border: none;
}

@media (max-width: 768px) {
    .calculator-rules-of-thumb {
        width: 90%; /* Reduce width on smaller screens */
    }

    .rules-of-thumb-table td {
        font-size: 14px; /* Further reduce font size for small screens */
    }
}
