.chart-container {
    width: 30%;
    margin: 0 auto;
}

.loan-paydown-container {
    width: 100%;
}

.loan-paydown-table {
    margin-top: 5px;
    table-layout: auto;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.loan-paydown-table td {
    color: #ffffff;
    font-size: 16px; /* Reduced font size for mobile */
    padding: 5px;
    text-align: center;
    width: auto;
    white-space: nowrap;
    border: none;
}

.loan-paydown-table td:first-child {
    text-align: left;
}

.color-box {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 8px;
    vertical-align: middle;
}

@media (max-width: 768px) {
    .chart-container {
        width: 100%; /* Ensure full width on mobile */
    }

    .loan-paydown-table td {
        font-size: 14px; /* Further reduce font size for small screens */
    }
}
