.header {
  font-size: 1.5rem;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  width: 100%;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the buttons within the group */
  gap: 10px; /* Space between buttons */
}

.selectable-button {
  flex: 1 1 calc(33.33% - 20px); /* Each button takes up roughly a third of the row */
  box-sizing: border-box; /* Ensure padding and margin are included in width */
}

.label {
  display: block;
  margin-bottom: 8px;
}

.bold-label {
  font-weight: bold;
}

.selectable-button {
  margin: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: 0;
  margin-right: 75px; /* side-header is 75px, push container to the right to center it */
}

.top-header {
  grid-column: 2 / 2;
  grid-row: 1 / 2;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.side-header {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ensure it stretches to match the table's height */
  width: 75px;
}

.table-wrapper {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  max-width: 80%; /* Limit the width of the table container */
  margin: 0 auto; /* Center the container within its grid cell */
}

.sensitivity-table {
  width: 100%;
  max-width: 100%; /* Ensure the table doesn't exceed the container width */
  border-collapse: collapse;
}

.sensitivity-table td {
  border: 1px solid white;
  padding: 8px;
  text-align: center;
  background-color: #676867;
  color: white;
}

.sensitivity-table .bold-cell {
  font-weight: bold;
  background-color: #004A00;
}

.legend-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.legend {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.legend-color-box {
  width: 20px;
  height: 20px;
  background-color: #8a8d00;
  border: 1px solid #303030;
  margin-right: 8px;
}