footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: #353535;
  color: #fff;
  margin-top: auto; /* Push the footer to the bottom */
}

/* Media queries for mobile */
@media (max-width: 768px) {
  footer {
    padding: 20px;
  }
}
