.terms-of-use {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  font-size: 12px;
  width: 100%;
}

.terms-of-use-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #333; /* Off-color gray background */
  color: #fff; /* White text */
  width: 100%;
  margin-top: 20px;
  border-radius: 16px;
}

/* Media queries for mobile */
@media (max-width: 768px) {
  .terms-of-use {
    font-size: 10px;
  }
  .terms-of-use-container {
    font-size: 10px;
  }
}